// // Ovde se mogu koristiti varijable i ponovno korišćenje stilova

// // Definišite varijable za boje i stilove koje ćete koristiti u celoj aplikaciji
// $primary-color: #ff206e;
// $secondary-color: #38bdab;
// $text-color: #fff;
// $accent-color: #EE9B00;

// // Globalni stilovi
// body {
//     font-family: Arial, sans-serif;
// }

// .container {
//     max-width: 1200px;
//     margin: 0 auto;
// }

// // Stil za navigaciju
// nav {
//     width: 100vw;
//     display: flex;
//     justify-content: space-between;
//     background-color: $primary-color;
//     align-items: center;

//     h1 {
//         color: $text-color;
//         margin-left: 40px;
//     }

//     a {
//         text-decoration: none;
//         color: $accent-color;

//         &:hover {
//             color: $text-color;
//             border-bottom: 2px solid $accent-color;
//             padding-bottom: 5px;
//         }
//     }

//     .nav-options {
//         display: flex;
//         align-items: center;

//         #heading {
//             color: $accent-color;
//         }

//         span {
//             cursor: pointer;
//             margin-left: 40px;
//             font-size: 0.85rem;
//             text-transform: uppercase;

//             &:hover {
//                 color: $text-color;
//                 border-bottom: 2px solid $accent-color;
//                 padding-bottom: 5px;
//             }
//         }
//     }

//     #navBarColor {
//         background-color: $secondary-color;
//         transition: 0.6s;
//     }

//     .input-group {
//         display: flex;
//         align-items: center;

//         #Color-switcher {
//             position: relative;
//             margin-right: 40px;
//             background-color: #413E44;
//             width: 80px;
//             height: 40px;
//             border-radius: 20px;

//             #Color-switcher-mover,
//             #Color-switcher-moved {
//                 position: absolute;
//                 left: 5px;
//                 top: 4px;
//                 background-color: #fff;
//                 width: 33px;
//                 height: 33px;
//                 border-radius: 50%;
//                 transition: 0.6s;
//             }

//             #Color-switcher-moved {
//                 left: 40px;
//             }
//         }

//         input[type='text'] {
//             padding-left: 17px;
//             font-size: 1rem;
//             color: black;
//         }

//         input::placeholder {
//             color: black;
//         }

//         input:focus {
//             outline: none;
//         }
//     }

//     // Responsive dizajn
//     @media screen and (max-width: 1023px) {
//         .nav-options {
//             display: flex;
//             align-items: center;
//             flex-wrap: wrap;
//         }

//         #heading {
//             order: 2;
//         }

//         .nav-options a {
//             order: 3;
//         }

//         .input-group {
//             display: flex;
//             align-items: center;
//             order: 1;
//         }

//         #Color-switcher {
//             order: 0;
//         }
//     }

//     @media (max-width: 768px) {
//         .nav-options {
//             flex-direction: column;
//             text-align: center;

//             .input-group {
//                 order: -1;

//                 input {
//                     width: 100%;
//                 }

//                 input::placeholder {
//                     font-size: 0.7em;
//                 }

//                 #search {
//                     margin-left: 0;
//                 }
//             }
//         }
//     }
// }

// // Stil za Login komponentu
// .wrapperLogin {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     padding: 2rem;
//     margin: 15rem auto;
//     width: 90%;
//     max-width: 600px;
//     background-color: #000038;

//     form {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//         margin-top: 30px;
//     }

//     .log {
//         color: $accent-color;
//     }

//     .input {
//         height: 40px;
//         width: 100%;
//         margin-bottom: 5px;
//         border-radius: 10px;
//         border: 1px solid;
//     }

//     .login {
//         margin-right: 80px;
//         color: blue;
//     }
// }

// // Stil za SignUp komponentu
// .signupWrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     height: 100vh;
//     background-color: #000;

//     .signupP {
//         font-size: 3rem;
//         font-style: italic;
//         color: #b3bdc2;
//         text-decoration: none;
//         text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
//     }

//     .click {
//         color: #b3bdc2;
//     }
// }


$primary-color: #ff206e;
$secondary-color: #38bdab;
$text-color: #fff;
$accent-color: #EE9B00;

.contact-form {
    h3 {
        color: $primary-color;
    }

    form {
        input {
            height: 40px;
            width: 100%;
            margin-bottom: 5px;
            border-radius: 10px;
            border: 1px solid;
            color: $secondary-color;
        }

        textarea {
            height: 100px;
            width: 100%;
            margin-bottom: 5px;
            border-radius: 10px;
            border: 1px solid;
            color: $accent-color;
        }

        button {
            margin-right: 80px;
            color: $accent-color;
        }
    }
}