.background-Color-Main {
    width: 100vw;
    height: 91vh;
    background-color: #0c1e25;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-Color-secondary {
    width: 100vw;
    height: 91vh;
    background-color: #fff;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pricing-container {
    display: flex;
    color: #fff;
}

.Pricing-option1,
.Pricing-option2,
.Pricing-option3 {
    width: 30vw;
    height: 63vh;
    background-color: #000d13;
    margin-right: 20px;
    border-radius: 16px;
    
}

.light-Theme1,
.light-Theme2,
.light-Theme3 {
    width: 30vw;
    height: 63vh;
    background-color: #29534e;
    margin-right: 20px;
    border-radius: 16px;
}

.Pricing-option1 h3,
.Pricing-option2 h3,
.Pricing-option3 h3 {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    color: #EE9B00;
}

.Price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.light-Theme1 h3,
.light-Theme2 h3,
.light-Theme3 h3 {
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    color: #fff;
}

.Pricing-option1 h2,
.Pricing-option2 h2,
.Pricing-option3 h2 {
    font-size: 3rem;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}

.light-Theme1 h2,
.light-Theme2 h2,
.light-Theme3 h2 {
    color: #ff206e;
    font-size: 3rem;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}

.Pricing-option1 span,
.Pricing-option2 span,
.Pricing-option3 span {
    display: flex;
    font-size: 1.3rem;
    margin-left: 80px;
    margin-bottom: 15px;
    font-weight: 300px;
}

#MonthlyYearly {
    font-size: 1.4rem;
}

.light-Theme1 span,
.light-Theme2 span,
.light-Theme3 span {
    display: flex;
    font-size: 1.3rem;
    margin-left: 80px;
    margin-bottom: 15px;
    font-weight: 300px;
    color: #fff;
}

#checkmark {
    margin-right: 9px;
}

button {
    width: 400px;
    height: 6vh;
    border: none;
    border-radius: 7px;
    background-color: #659664;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

button:hover {
    background-color: #588157;
    transition: .4s;
}

#button1 {
    margin-top: 98px;
    margin-left: 80px;
}

#button2 {
    margin-top: 55px;
    margin-left: 80px;
}

#button3 {
    margin-top: 12px;
    margin-left: 80px;
}

#darktheme {
    display: flex;
    justify-content: flex-end;
}

.Pricing-yearly-darktheme {
    position: relative;
    margin-left: 250px;
    width: 70px;
    height: 40px;
    border-radius: 20px;
    background-color: #413E44;
    margin-right: 10px;
}

.Pricing-monthly-darktheme {
    position: absolute;
    left: 5px;
    top: 4px;
    background-color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}

.Pricing-monthly-light {
    position: absolute;
    background-color: #fff;
    left: 32px;
    top: 4px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}

.email {
    padding: 20px;
    color: #38bdab;
}

.password {
    padding: 20px;
    color: #38bdab;
}

/* Default styles */


/* Media query for phones (do 480px) */
@media (max-width: 480px) {

    .input-group{
        display: flex;
        flex-direction: column;
    }
    .background-Color-Main {
        height: auto;
        flex-direction: column;
    }

    .Pricing-container {
        flex-direction: column;

    }

    .Pricing-option1,
    .Pricing-option2,
    .Pricing-option3,
    .light-Theme1,
    .light-Theme2,
    .light-Theme3 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        height: 100%;
    }

    .Price {
        flex-direction: column;
    }

    .Pricing-option1 h3,
    .Pricing-option2 h3,
    .Pricing-option3 h3,
    .light-Theme1 h3,
    .light-Theme2 h3,
    .light-Theme3 h3,
    .Pricing-option1 h2,
    .Pricing-option2 h2,
    .Pricing-option3 h2,
    .light-Theme1 h2,
    .light-Theme2 h2,
    .light-Theme3 h2 {
        font-size: 2rem;
    }

    .Pricing-option1 span,
    .Pricing-option2 span,
    .Pricing-option3 span,
    .light-Theme1 span,
    .light-Theme2 span,
    .light-Theme3 span {
        margin-left: 0;
        margin-bottom: 10px;
    }
    button {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    #button1,
    #button2,
    #button3 {
        margin-top: 20px;
    }

    #darktheme {
        justify-content: center;
        margin-bottom: 20px;
    }

    .Pricing-yearly-darktheme {
        margin-left: 125px;
        margin-right: 0;
    }
}

/* Media query for tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    .input-group{
        display: flex;
        flex-direction: column;
    }
    
    element.style {
        color: green;
        margin-left: 180px;
    }
    .background-Color-Main{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;

    }
    .Pricing-container {
        display: flex;
        flex-direction: row;
        width: 100%;
       
    }
    span{
        font-size: 1rem;
    }
    #button1 {
        margin-top: 0px;
    }
    .Pricing-option1 span,
    .Pricing-option2 span,
    .Pricing-option3 span {
        display: flex;
        font-size: 0.8rem;
        margin-left: 80px;
        font-weight: 300px;
}
    .Pricing-option1 h2,
    .Pricing-option2 h2,
    .Pricing-option3 h2 {
        font-size: 2.3rem !important;
    }
    .Pricing-option1,
    .Pricing-option2,
    .Pricing-option3,
    .light-Theme1,
    .light-Theme2,
    .light-Theme3 {
        width: 80%; 
        margin-bottom: 20px;
        height: 80%;
        margin-left: 80px;
    }
}
