* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapperReg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 15rem auto;
    width: 90%;
    max-width: 600px;
    background-color: rgb(0, 0, 56);
}

.registration {
    color: wheat;
    font-size: 2rem;
    padding-bottom: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    max-width: 400px;

}

.input {
    height: 40px;
    width: 100%;

}

.button {
    color: white;
    background-color: rgb(102, 38, 221);
    width: 100%;
    max-width: 200px;
    padding: 0.5rem;
    text-align: center;
    margin-right: 80px;
}



@media (max-width: 768px) {
    .wrapperReg {
        margin: 10rem auto;

    }

    form {
        gap: 1rem;
    }

    .button {
        max-width: 150px;
    }
}


@media (max-width: 480px) {
    .wrapperReg {
        margin: 5rem auto;

    }

    .registration {
        font-size: 1.5rem;
    }

    form {
        gap: 1rem;
    }

    .input {
        height: 35px;
    }

    .button {
        max-width: 120px;
        padding: 0.3rem;

    }
}