.player{
    position: absolute;
    margin-top: 120px;
    z-index:999;
}
.Container{
    display: none;
    position:absolute;
    z-index: 100;
}
#TrailerMovie-name-dark{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: -100px;
    font-size: 2.5rem;
    color: #EE9B00;
}
#TrailerMovie-name-light{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: -100px;
    font-size: 2.5rem;
    color: #ff206e;
}